*{
    padding: 0;
    margin: 0;
}

#Lvl1Background{
    position: absolute;
    top: 30%;
    image-rendering: pixelated;
}

.animate{
    animation: jump 500ms;
}

@keyframes ZombieMovement{
    0%{right: 0%;}
    10%{right: 10%;}
    20%{right: 20%;}
    30%{right: 30%;}
    40%{right: 40%;}
    50%{right: 50%;}
    60%{right: 60%;}
    70%{right: 70%;}
    80%{right: 80%;}
    90%{right: 90%;}
    100%{right: 100%;}
}

@keyframes jump {
    0%{bottom: 20%;}
    20%{bottom: 40%;}
    40%{bottom: 60%;}
    60%{bottom: 40%;}
    80%{bottom: 20%;}
    100%{bottom: 10%;}
}

:root{
    --pixel-size: 120;
    --pixel-size2: 250;
}

#Character{
    position: absolute;
    width: calc(0.15% * var(--pixel-size));
    height: calc(0.4% * var(--pixel-size));
    image-rendering: pixelated;
    overflow: hidden;
    bottom: 7%;
}

.MainCharacterMoveSpritesheet{
    animation: moveSpritesheet 0.5s steps(2) infinite;
    width: calc(2% * var(--pixel-size));
    image-rendering: pixelated;
}

#Zombie{
    position: absolute;
    width: calc(0.05% * var(--pixel-size2));
    height: calc(0.1% * var(--pixel-size2));
    image-rendering: pixelated;
    overflow: hidden;
    bottom: 12%;
    animation: ZombieMovement 2s infinite linear;
}

.ZombieMoveSpritesheet{
    animation: moveSpritesheet 2s steps(15) infinite;
    width: calc(6% * var(--pixel-size2));
    image-rendering: pixelated;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to{
        transform: translate3d(-100%, 0, 0);
    }
}