*{
    padding: 0;
    margin: 0;
}

#Level1{
    position: absolute;
    margin: 1px;
    width: 99.5%;
    height: 99.5%;
    border: 1px solid black;
}

#Character{
    width: 20px;
    height: 50px;
    background: red;
    position: absolute;
    top: 70%;
    left: 15%;
}
.animate{
    animation: jump 500ms;
}

#Zombie{
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    position: relative;
    top: 500px;
    left: 1000px;
    animation: ZombieMovement 1s infinite linear;
}

@keyframes ZombieMovement{
    0%{left: 480px;}
    100%{left: -40px;}
}

@keyframes jump {
    0%{top: 70%;}
    30%{top: 65%;}
    70%{top: 50%;}
    100%{top: 45%;}
}

:root{
    --pixel-size: 220;
}
.MainCharakterMove {
    position: absolute;
    width: calc(0.2% * var(--pixel-size));
    height: calc(0.4% * var(--pixel-size));
    overflow: hidden;
    right: 10%;
    bottom: 11%;
    image-rendering: pixelated;
}

.MainCharacterMoveSpritesheet{
    animation: moveSpritesheet 10s steps(40) infinite;
    width: calc(17% * var(--pixel-size));
    image-rendering: pixelated;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0);
    }
    to{
        transform: translate3d(-100%, 0, 0);
    }
}


