.OpenNewPageImgStyle {
    position: absolute;
    height: 10%;
    right: 5%;
    bottom: 5%;
}

.LevelButtonStyle {
    position: relative;
    width: 30%;
    margin-top: 1px;
    margin-left: 1px;
}